.container{
    border: 5px solid black;
    background-color: white;
    width: 500px;
    height: 500px;
    
}

.header{
    background-color: rgb(237, 164, 164);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    Overflow: auto;

    height: 400px;
    
}

.outbox{
    display: flex;
    flex-direction: row;
    
}

.box{
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
}